.video-list {
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.video-list iframe {
  width: 100%;
  max-width: 100%;
  aspect-ratio: 16 / 9;
  border: none;
  border-radius: 6px;
}

/* Mobile fix */
@media (max-width: 768px) {
  .video-list iframe {
    max-width: 100%;  /* ważne: NIE ustawiać sztywnej wartości width np. 400px */
  }
}
.video-wrapper {
  width: 100%;
  max-width: 500px;
}