html {
  scroll-behavior: smooth;
  overflow-x:hidden;
}

body {
  overflow-x: hidden;
  margin: 0;
  background-color: #0e0e0e;
  color: white;
  font-family: 'Arial', sans-serif;
}

.red {
  color: #e53935;
}
.section-wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  gap: 0px;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
}